{% extends 'blogs/base.html' %}

{% block content %}
  <p>Topic: {{ topic }}</p>
  <p>
    <a href="{% url 'blogs:edit_topic' topic.id %}">Edit Topic</a>
  </p>

  <p>Posts:</p>
  <ul>
    {% for post in posts %}
     <li>
        <p><a href="{% url 'blogs:post' post.id %}">{{ post }}</a></p>
        <p>
            {{post.date_last_modified|date:"M d, Y H:i" }} |
            <a href="{% url 'blogs:edit_post' post.id %}">Edit</a>
        </p>
     </li>
    {% empty %}
      <li>There are no posts for this topic yet.</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'blogs:new_post' topic.id %}">Add a new post</a></p>

  <p><a href="{% url 'blogs:topics' %}">Back to Topics</a></p>

{% endblock content %}